.hero-wrapper {
  @apply relative h-dvh w-full bg-primary/80 pt-20 text-background;

  &::before {
    @apply absolute inset-0 z-[-1] opacity-100 content-[""];
    background: url('./../../../public/imgs/bg.svg');
  }

  .mouse {
    @apply absolute bottom-5 left-1/2 h-11 w-7 -translate-x-1/2 rounded-full border-2;

    &::after {
      @apply absolute left-1/2 top-0 my-2 h-1.5 w-1.5 rounded-full bg-background content-[""];
      animation: upToDown 1.2s infinite ease-out forwards;
    }
  }
}

@keyframes upToDown {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  to {
    transform: translate(-50%, 18px);
    opacity: 0;
  }
}
