.hero-wrapper {
  @apply h-dvh w-full relative bg-primary/80 text-background pt-20;

  &::before {
    @apply content-[""] absolute inset-0 opacity-100 z-[-1];
    background: url('./../../../public/imgs/bg.svg');
  }

  .mouse {
    @apply absolute bottom-5 left-1/2 -translate-x-1/2 h-11 w-7 border-2 rounded-full;

    &::after {
      @apply content-[""] absolute top-0 left-1/2 h-1.5 w-1.5 bg-background rounded-full my-2;
      animation: upToDown 1.2s infinite ease-out forwards;
    }
  }
}

@keyframes upToDown {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  to {
    transform: translate(-50%, 18px);
    opacity: 0;
  }
}
